@import url("/visby/fonts/font-face.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  width: fit-content;
  /* height: ; */
}
* {
}
html {
  scroll-behavior: smooth;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.animation-delay-600 {
  animation-delay: 0.6s;
}
.animation-delay-900 {
  animation-delay: 0.9s;
}
.animation-delay-1000 {
  animation-delay: 1s;
}
.team-c {
}
.team-tooltip {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.team-c:hover .team-tooltip {
  opacity: 1;
}
@media screen and (max-width: 500px) {
  .animate__animated {
    animation: none !important;
  }
}
